@{
  ViewData["Title"] = "Index";
}





        <h2>IEXApp - Today's market briefing</h2>
        The Website provides live and historical statistics from IEX for investors and companies. This application let's you fetch trading data from IEX via their public API.
        <div>
            <ul>
                <li>Market: This endpoint returns near real time traded volume on the markets.</li>
                <li>Sector: This endpoint returns an array of each sector and performance for the current trading day.</li>
                <li>Crypto: This will return an array of quotes for all Cryptocurrencies supported by the IEX API.</li>
                <li>News: The top headlines of the day with their sources and URL links.</li>
            </ul>
        </div>
    