body {
    background-color: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.nav-bar {
    background-color: #0094ff;
    color: #ffffff;
    font-size: x-large;
}

  .nav-bar > a {
    text-decoration: none;
    color: inherit;
  }

td {
  padding: 10px;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}