@{
    ViewData["Title"] = "About Us";
}

<h2>IEXApp - Today's market briefing</h2>
    The Website provides live and historical statistics from IEX for investors and companies. This application let's you fetch trading data from IEX via their public API.
<div>
    <ul>
        <li>Market: This endpoint returns near real time traded volume on the markets. Market data is captured by the IEX system from approximately 7:45 a.m. to 5:15 p.m. ET.</li>
        <li>Sector: This endpoint returns an array of each sector and performance for the current trading day.</li>
        <li>Crypto: This will return an array of quotes for all Cryptocurrencies supported by the IEX API.</li>
        <li>News: The top two headlines of the day with their sources and URL links.</li>
    </ul>
</div>
<h2> Team Members</h2>
<div>
    <ul>
        <li>Arpit Srivastava</li>
        <li>Nidhi Parashar</li>
        <li>Tanmayee Khadilkar</li>
    </ul>
</div>
    </h2><h2>Self Reflection</h2>
<div>
    <ul>
        <li>Learnt the use of Web API in a C# application.</li>
        <li>Learnt to create a new table in the SQL database and the CRUD operations associated with it.</li>
        <li>Learnt about the MVC pattern in the .NET core Application.</li>
        <li>Learnt about the different constraints that could occur while pulling the data from a Web API.</li>
        <li>Learnt to deserialize the result from the Web API and use it constructively.</li>
    </ul>
</div>
<h2><a href="https://github.com/para867/ISM6225_DIS_Assignment3">GitHub Link</a></h2>
