@model IEnumerable<API_Usage.Models.Sector>
@{
    ViewData["Title"] = "Sector";

}
<html>
<head>

</head>
<body>


    <table>
        <tbody>
            <tr>
                <td><b><u>NAME</u></b></td>
                <td><b><u>PERFORMANCE</u></b></td>
                <td><b><u>LAST UPDATED</u></b></td>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.performance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastUpdated)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div>
        <a id="marketid" asp-controller="Market" asp-action="PopulateSector"><img src="~/img/button_save-data.png" /></a>
    </div>

</body>
</html>